@use "../abstracts/" as *;

:root,
#root {
	// Put your var Colors
	// color: hsl(191, 100%, 50%);

	//& clr -> Color
	// :: s -> surface
	// :: b -> Brand
	// :: t -> Text

	@for $light from 0 through 8 {
		$l-base: $light + 1;
		@include defineColorHSL(--clr-s-#{$light}, calc(var(--clr-brand) + 180), 10%, #{$l-base * 5%});
	}

	@for $clr from 1 through 9 {
		@include defineColorHSL(--clr-b-#{$clr}, var(--clr-brand), 100%, #{$clr * 10%});
	}

	@include defineColorHSL(--clr-t, 249, 100%, 99%);

	// @media (prefers-color-scheme: dark) {
}

.false-class------IDE {
	--clr-b-: 00;
	--clr-s-: 00;
}
