.main-playground {
	margin-block: 5rem;
	text-align: center;

	&__title {
		font-size: var(--fsf-5);
	}
}

.playground {
	box-sizing: border-box;
	width: calc(100% - 4vw);
	margin-inline: auto;
	margin-block: 1rem;
	gap: 2rem;
}
